@page
@model FytSoa.Web.Pages.FytAdmin.Stock.TransferModifyModel
@{
    ViewData["Title"] = "调拨单管理";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<style>.layui-form-select dl{max-height:180px;}</style>
<form class="layui-form form-cus" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">调拨单编号</label>
        <div class="layui-input-block">
            <input type="text" name="Number" value="@Model.TransferModel.Number" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入条形码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入库加盟商</label>
        <div class="layui-input-block">
            <select id="InShopGuid" name="InShopGuid" lay-verify="required" lay-verType="tips" lay-search="">
                <option value="">--请选择加盟商，支持关键字搜索--</option>
                @{
                    foreach (var item in Model.List)
                    {
                        if (item.Guid == Model.TransferModel.InShopGuid)
                        {
                            <option value="@item.Guid" selected="selected">@item.ShopName</option>
                        }
                        else
                        {
                            <option value="@item.Guid">@item.ShopName</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出库加盟商</label>
        <div class="layui-input-block">
            <select id="OutShopGuid" name="OutShopGuid" lay-verify="required" lay-verType="tips" lay-search="">
                <option value="">--请选择加盟商，支持关键字搜索--</option>
                @{
                    foreach (var item in Model.List)
                    {
                        if (item.Guid == Model.TransferModel.OutShopGuid)
                        {
                            <option value="@item.Guid" selected="selected">@item.ShopName</option>
                        }
                        else
                        {
                            <option value="@item.Guid">@item.ShopName</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
            <input type="number" name="GoodsSum" value="@Model.TransferModel.GoodsSum" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入数量" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">添加时间</label>
        <div class="layui-input-block">
            <input type="text" id="AddDate" name="AddDate" value="@Model.TransferModel.AddDate.ToString().Replace('/','-')" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请选择时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Guid" id="guid" value="@Model.TransferModel.Guid" />
    <input type="hidden" name="AdminGuid" value="@Model.TransferModel.AdminGuid" />
    <input type="hidden" name="IsDel" value="@Model.TransferModel.IsDel" />
</form>
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form', 'laydate'], function () {
            var form = layui.form, $ = layui.$, os = layui.common, laydate = layui.laydate;
            laydate.render({
                elem: '#AddDate'
                , theme: '#393D49'
                , type: 'datetime'
            });
            var index = parent.layer.getFrameIndex(window.name);            
            //监听提交
            form.on('submit(submit)', function (data) {
                //判断入库和出库是否同一个加盟商
                if (data.field.OutShopGuid === data.field.InShopGuid) {
                    os.error('出库加盟商和入库加盟商不能是同一个~');
                    return false;
                }
                var urls = "api/stock/addtransfer";
                if ($("#guid").val()) {
                    urls = "api/stock/edittransfer";
                }
                os.ajax(urls, data.field, function(res) {
                    if (res.statusCode === 200) {
                        parent.layer.close(index);
                    } else {
                        os.error(res.message);
                    }   
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });

        });
    </script>
}


