@page
@model FytSoa.Web.Pages.FytAdmin.Sale.GoodsModel
@{
    ViewData["Title"] = "销售商品明细";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <div class="layui-inline">
                <input class="layui-input" id="key" autocomplete="off" placeholder="请输入订单号">
            </div>
            <div class="layui-inline">
                <select id="shops" lay-search="">
                    <option value="">--可根据店铺搜索--</option>
                    @{
                        foreach (var item in Model.shopList)
                        {
                            <option value="@item.Guid">@item.ShopName</option>
                        }
                    }
                </select>
            </div>
            <div class="layui-inline">
                <select id="branks" lay-search="">
                    <option value="">--可根据品牌搜索--</option>
                    @{
                        foreach (var item in Model.codeList)
                        {
                            <option value="@item.Guid">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="layui-inline">
                <select id="size" lay-search="">
                    <option value="">--可根据尺码搜索--</option>
                    @{
                        foreach (var item in Model.sizeCodeList)
                        {
                            <option value="@item.Guid">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="layui-inline lay-time-icon">
                <input class="layui-input" id="times" autocomplete="off" placeholder="时间区间"><i class="layui-icon layui-icon-date"></i>
            </div>
            <div class="layui-inline lay-time-icon">
                <select id="backStatus">
                    <option value="">--退单状态--</option>
                    <option value="0">无</option>
                    <option value="1">是</option>
                </select>
            </div>
            <div class="layui-inline lay-time-icon">
                <select id="saleType">
                    <option value="">--销售类型--</option>
                    <option value="1">正常销售</option>
                    <option value="2">残次品销售</option>
                </select>
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <h4>销售商品明细</h4>
        </div>
    </script>
    <script>
                layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'form', 'common', 'laydate'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    laydate = layui.laydate,
                    form = layui.form;
                form.render('select');
                laydate.render({
                    elem: '#times'
                    , theme: '#393D49'
                    , format: 'yyyy/MM/dd'
                    , range: true
                });
                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    url: '/api/sale/goods/list',
                    cellMinWidth: 80,
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'orderNumber', width: 160, title: '订单号', fixed: 'left' },
                            { field: 'shopName', width: 200, title: '加盟商', fixed: 'left' },
                            {
                                field: 'activityName', width: 120, title: '活动信息',templet:function(res) { 
                                    if (res.activityName != 'undefined' && res.activityName) {
                                        return '<span class="layui-badge layui-bg-blue">' + res.activityName+'</span>';
                                    } else {
                                        return '<span class="layui-badge-dot layui-bg-cyan"></span>';
                                    }
                            } },
                            { field: 'code', width: 200, title: '条形码' },
                            {
                                field: 'brandName', width: 240,title: '商品名称', templet: function (res) { 
                                    return res.brandName + res.styleName + res.seasonName;
                            } },
                            { field: 'counts', title: '销售数' },
                            {
                                field: 'backCounts', title: '是否退单', templet: function (res) { 
                                    return res.backCounts == 0 ? "" : '<span class="layui-badge-dot"></span>';
                                }
                            },
                            {
                                field: 'saleType', title: '销售类型', templet: function (res) {
                                    return res.saleType == 1 ? '正常销售' : '<span class="layui-badge layui-bg-orange">残次品销售</span>';
                                }
                            },
                            { field: 'money', title: '商品金额' },
                            { field: 'addDate', width: 200, title: '下单时间' }
                        ]
                    ],
                    page: { limits: [15, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    limit: 15,
                    id: 'tables'
                });


                var active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    key: $('#key').val(),
                                    brank: $('#branks').val(),
                                    size: $('#size').val(),
                                    time: $('#times').val(),
                                    shopGuid: $("#shops").val(),
                                    backStatus: $("#backStatus").val(),
                                    saleType: $("#saleType").val()
                                }
                            });
                    },
                    toolSearch: function () {
                        active.reload();
                    }
                };
                
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });
    </script>
</div>
