@page
@model FytSoa.Web.Pages.FytAdmin.Sale.IndexModel
@{
    ViewData["Title"] = "销售订单明细";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <style>
        .layui-col-220 {
            width: 388px;
            top: 80px;
            left: 12px;
        }

            .layui-col-220 .layui-nav-title {
                height: 42px;
                line-height: 42px;
            }

        .right-col-body {
            left: 400px;
            top: 60px;
        }

        .layui-card {
            background-color: #eaedf1;
            margin-top: 10px;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
        }

        .layui-card-header {
            border-bottom: 1px solid #D9DEE4;
        }

        .fyt-table {
            width: 100%;
        }

            .fyt-table th {
                width: 15%
            }
        .fyt-utree{overflow:auto;}
        .utree-more{padding:15px; text-align:center; cursor:pointer;}
    </style>
    <div class="list-wall">
        <div class="layui-form list-search">
            <div class="layui-inline">
                <input class="layui-input" id="key" autocomplete="off" placeholder="请输入关键字查询">
            </div>
            <div class="layui-inline">
                <select id="shops" lay-search="">
                    <option value="">--可根据店铺搜索--</option>
                    @{
                        if (Model.shopList != null)
                        {
                            foreach (var item in Model.shopList)
                            {
                                <option value="@item.Guid">@item.ShopName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="layui-inline lay-time-icon">
                <input class="layui-input" id="times" autocomplete="off" placeholder="时间区间"><i class="layui-icon layui-icon-date"></i>
            </div>
            <div class="layui-inline">
                <select id="branks" lay-search="">
                    <option value="">--可根据品牌搜索--</option>
                    @{
                        if (Model.codeList != null)
                        {
                            foreach (var item in Model.codeList)
                            {
                                <option value="@item.Guid">@item.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="layui-inline">
                <select id="size" lay-search="">
                    <option value="">--可根据尺码搜索--</option>
                    @{
                        if (Model.sizeCodeList != null)
                        {
                            foreach (var item in Model.sizeCodeList)
                            {
                                <option value="@item.Guid">@item.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        </div>
    </div>
    <div class="layui-col-220" id="app">
        <div class="layui-nav-title">销售订单列表　　　</div>
        <ul class="fyt-utree">
            <li v-for="it in list" v-cloak :class="{active: activeName == it.number}" @@click="selected(it.number)">
                <a class="layui-elip title" @@click="getList(it)">
                    <span class="layui-badge layui-bg-cyan" v-if="it.saleType==1">正</span>
                    <span class="layui-badge" v-if="it.saleType==2">残</span>
                    {{it.number}}——{{it.shopName}}
                </a>
                <a class="layui-elip sums"><span class="layui-badge layui-bg-blue">{{it.counts}}</span></a>
            </li>
            <p class="utree-more" @@click="loadMore">{{moreTip}}</p>
        </ul>
    </div>
    <div class="right-col-body" id="orders">
        <div class="list-wall">
            <div class="layui-card">
                <div class="layui-card-header">订单详情</div>
                <div class="layui-card-body">
                    <table class="fyt-table">
                        <tr>
                            <th>订单编号：</th>
                            <td>{{curModel.number}}<a href="javascript:void(0)" @@click="showImg()"  v-if="curModel.saleType==2" target="_top" style="display:inline-block; margin-left:10px; position:relative; top:2px;"><i style="color:#ff0000;font-size:20px;" class="layui-icon layui-icon-carousel"></i></a></td>
                            <th>下单时间：</th>
                            <td>{{curModel.addDate}}</td>
                            <th>数量：</th>
                            <td>{{curModel.counts}}</td>
                        </tr>
                        <tr>
                            <th>参加活动：</th>
                            <td>{{curModel.activityName}}</td>
                            <th>应收金额：</th>
                            <td><span class="layui-badge layui-bg-cyan">{{curModel.money}}</span></td>
                            <th>实收金额：</th>
                            <td><span class="layui-badge layui-bg-blue">{{curModel.realMoney}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        </div>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <h4>订单商品详情</h4>
        </div>
    </script>
    <script type="text/javascript" src="~/themes/js/modules/vue.js"></script>
    <script>
        var funTool, vm = new Vue({
            el: "#app",
            data: {
                list: [],
                activeName: '',
                moreTip:'点击加载更多',
                parm: {
                    guid: '',
                    time: '',
                    page: 1
                }
            },
            methods: {
                selected: function (m) {
                    this.activeName = m;
                },
                getList: function (m) {
                    vues.curModel = m; 
                    funTool.getGoodsSku(m);
                },
                loadMore: function () { 
                    this.parm.page += 1;
                    funTool.orderPage();
                }
            }
        });
        var vues = new Vue({
            el: "#orders",
            data: {
                curModel: {
                    money: 0,
                    realMoney: 0
                },
            },
            methods:  { 
                showImg:function() {
                    layer.open({
                        type: 1,
                        title: false,
                        closeBtn: 0,
                        area: '800px',
                        skin: 'layui-layer-nobg', //没有背景色
                        shadeClose: true,
                        content: '<div style="text-align: center;"><img src="' + this.curModel.theImage + '"></div>'
                    });
                }
            }
        });
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'form', 'common', 'laydate'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    laydate = layui.laydate,
                    form = layui.form;
                form.render('select');
                $("ul.fyt-utree").css({ 'height': $(window).height() - 182 });
                laydate.render({
                    elem: '#times'
                    , theme: '#393D49'
                    , format: 'yyyy/MM/dd'
                    , range: true
                });
                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    url: '/api/sale/goods',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'code', width: 200, title: '条形码', fixed: 'left' },
                            { field: 'brandName', title: '品牌' },
                            { field: 'styleName', title: '款式' },
                            { field: 'seasonName', width: 150, title: '季节' },
                            { field: 'counts', title: '销售数' }
                        ]
                    ],
                    page: { limits: [10, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    limit: 10,
                    id: 'tables'
                });


                var orderguid = '', shopGuid = '', active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    guid: orderguid,
                                    time: $('#times').val(),
                                    key: $('#key').val(),
                                    size: $('#size').val(),
                                    brank: $('#branks').val(),
                                    shopGuid: $("#shops").val()
                                }
                            });
                    },
                    toolSearch: function () {
                        vm.parm.guid = $("#shops").val();
                        vm.parm.time = $('#times').val();
                        active.reload();
                        if (vm.parm.guid != '') {
                            funTool.orderPage();
                        }
                    }
                };

                funTool = {
                    getGoodsSku: function (obj) {
                        orderguid = obj.number; console.log(obj);
                        active.reload();
                    },
                    orderPage: function () {
                        os.ajax('api/sale/order', vm.parm, function (res) {
                            console.log(res);
                            if (res.data.totalPages == 1 || vm.parm.page == res.data.totalPages) {
                                vm.moreTip = '';
                            }
                            if (res.statusCode === 200) {
                                if (vm.parm.page == 1) {
                                    vm.list = res.data.items;
                                } else {
                                    $.each(res.data.items, function (i, m) { 
                                        vm.list.push(m);
                                    });
                                }
                                
                            } else {
                                os.error(res.message);
                            }
                        });
                    }
                }
                //初始化入库单管理
                funTool.orderPage();
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });
    </script>
</div>

