@page
@model FytSoa.Web.Pages.FytAdmin.Sys.MenuModifyModel
@{
    ViewData["Title"] = "菜单修改";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<style>
    .organize-tree {
        position: absolute;
        background-color: #fff;
        padding: 5px 25px;
        z-index: 1000;
        box-shadow: 0 0 24px rgba(0,0,0,.18);
        opacity: 0;
        height: 0;
        display: none;
    }

        .organize-tree.active {
            display: block;
            opacity: 1;
            height: auto;
            max-height: 330px;
            overflow: auto;
            transition: all .5s;
        }

        .organize-tree .ztree li a {
            height: 22px !important;
        }
    .layui-iconpicker {
        max-width: 100%;
    }
</style>
<form class="layui-form form-cus" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">所属父级</label>
        <div class="layui-input-block">
            <input type="text" name="ParentName" id="ParentName" value="@Model.MenuModel.ParentName" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请选择所属父级" class="layui-input">
            <div class="organize-tree">
                <ul id="tree" class="ztree layui-tree-cus"></ul>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label for="" class="layui-form-label">选择图标</label>
        <div class="layui-input-block">
            <input type="text" id="iconPicker" lay-filter="iconPicker" value="@Model.MenuModel.Icon" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" value="@Model.MenuModel.Name" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单编号</label>
        <div class="layui-input-block">
            <input type="text" name="NameCode" value="@Model.MenuModel.NameCode" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入菜单编号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Url地址</label>
        <div class="layui-input-block">
            <input type="text" name="Urls" value="@Model.MenuModel.Urls" autocomplete="off" placeholder="请输入Url地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="Sort" value="@Model.MenuModel.Sort" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入排序" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block">
            <input type="checkbox" name="Status" lay-skin="switch" lay-text="ON|OFF" value="true" @(Model.MenuModel.Status ? "checked" : "")>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit" id="submit"><i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Guid" id="Guid" value="@Model.MenuModel.Guid" />
    <input type="hidden" name="ParentGuid" id="ParentGuid" value="@Model.MenuModel.ParentGuid" />
    <input type="hidden" name="Icon" id="Icon" value="@Model.MenuModel.Icon" />
    <input type="hidden" name="Layer" value="@Model.MenuModel.Layer" />
</form>
<link rel="stylesheet" href="~/themes/ztree/css/metroStyle/metroStyle.css" type="text/css">
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).extend({
            iconPicker: 'iconPicker'
        }).use(['layer', 'jquery', 'common', 'iconPicker', 'form', 'ztree'], function () {
            var form = layui.form, $ = layui.$, os = layui.common, iconPicker = layui.iconPicker;
            iconPicker.render({
                elem: '#iconPicker',
                type: 'fontClass',
                search: true,
                page: false,
                click: function (data) {
                    console.log(data);
                    $("#Icon").val(data.icon);
                }
            });
            var index = parent.layer.getFrameIndex(window.name);
            //监听提交
            form.on('submit(submit)', function (data) {
                $('#submit').attr('disabled', true).find('i').removeClass('layui-hide');
                var urls = "api/menu/add";
                if ($("#Guid").val()) {
                    urls = "api/menu/edit";
                }
                os.ajax(urls, data.field, function (res) {
                    $('#submit').attr('disabled', false).find('i').addClass('layui-hide');
                    if (res.statusCode === 200) {
                        parent.layer.close(index);
                    } else {
                        os.error(res.message);
                    }
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });

            var setting = {
                async: {
                    enable: true,
                    headers: os.getToken(),
                    url: "/api/menu/gettree"
                },
                callback: {
                    onClick: onClick
                }
            };
            $("#ParentName").click(function () {
                $(".organize-tree").addClass('active');
            });
            $(".organize-tree").mouseleave(function () {
                $(".organize-tree").removeClass('active');
            });
            $.fn.zTree.init($("#tree"), setting);
            function onClick(event, treeId, treeNode, clickFlag) {
                $("#ParentGuid").val(treeNode.guid);
                $("#ParentName").val(treeNode.name);
                $(".organize-tree").removeClass('active');
            }
        });
    </script>
}


