@page
@model FytSoa.Web.Pages.FytAdmin.Member.GradeModifyModel
@{
    ViewData["Title"] = "编辑添加会员等级";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<form class="layui-form form-cus" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">等级名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" value="@Model.GradeModel.Name" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入等级名称" class="layui-input">
            <div class="organize-tree">
                <ul id="tree" class="ztree layui-tree-cus"></ul>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">等级图标</label>
        <div class="layui-input-block">
            <input type="text" name="Icon" value="@Model.GradeModel.Icon" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <input type="radio" name="Sex" value="积分" title="积分" @(Model.GradeModel.IsTypes == 1 ? "checked" : "")>
            <input type="radio" name="Sex" value="经验" title="经验" @(Model.GradeModel.IsTypes == 0 ? "checked" : "")>
            <input type="radio" name="Sex" value="金额" title="金额" @(Model.GradeModel.IsTypes == 2 ? "checked" : "")>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">值</label>
        <div class="layui-input-block">
            <input type="number" name="Urls" value="@Model.GradeModel.Point" autocomplete="off" placeholder="请输入值" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">购物折扣</label>
        <div class="layui-input-block">
            <input type="number" name="Urls" value="@Model.GradeModel.DisCount" autocomplete="off" placeholder="如8折，请输入80" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="Summary" class="layui-textarea">@Html.Raw(Model.GradeModel.Summary)</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Guid" id="Guid" value="@Model.GradeModel.Guid" />
</form>
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form'], function () {
            var form = layui.form, $ = layui.$, os = layui.common;
            var index = parent.layer.getFrameIndex(window.name);
            //监听提交
            form.on('submit(submit)', function (data) {
                var urls = "api/shops/addgrade";
                if ($("#Guid").val()) {
                    urls = "api/shops/editgrade";
                }
                os.ajax(urls, data.field, function(res) {
                    if (res.statusCode === 200) {
                        parent.layer.close(index);
                    } else {
                        os.error(res.message);
                    }1
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });
        });
    </script>
}

