@page
@using System.Security.Claims;
@model FytSoa.Web.Pages.FytAdmin.IndexModel
@{
    ViewData["Title"] = "管理平台";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">FytErp-SaaS平台</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item pr50"><img src="~/themes/img/logo.jpg" class="nav-logo" /></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a data-pjax href="/fytadmin/default"><i class="layui-icon"></i></a>
            </li>
            <li class="layui-nav-item">
                <a href="/demo/"><i class="layui-icon"></i><span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span class="username">@User.Identities.First(u => u.IsAuthenticated).FindFirst(ClaimTypes.Name).Value <i class="layui-icon"></i></span>
                    <img src="@User.Identities.First(u => u.IsAuthenticated).FindFirst(ClaimTypes.Thumbprint).Value" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a data-pjax href="/fytadmin/sys/admin/">个人中心</a></dd>
                    <hr />
                    <dd><a href="/fytadmin/logout/">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree fyt-nav-tree" lay-filter="test">
                @{
                    foreach (var item in Model.list.Where(m => m.Layer == 1))
                    {
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;"><i class="layui-icon"></i>@item.Name</a>
                            <dl class="layui-nav-child">
                                @{
                                    foreach (var row in Model.list.Where(m => m.ParentGuid == item.Guid))
                                    {
                                        <dd><a data-pjax href="@row.Urls">@row.Name</a></dd>
                                    }
                                }
                            </dl>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="layui-body" id="container">

    </div>
</div>
<div class="load-container load8">
    <div class="load-wall">
        <div class="loader">Loading...</div>
    </div>
</div>
<script type="text/javascript" src="~/themes/js/echarts.min.js"></script>
<script type="text/javascript" src="~/themes/js/macarons.js"></script>
<script type="text/javascript" src="~/themes/js/nprogress.js"></script>
<script>
    layui.config({
        base: '/themes/js/modules/'
    }).use(['element', 'layer', 'jquery', 'common', 'pjax'], function () {
        var os = layui.common
            , element = layui.element
            , $ = layui.jquery;
        $.pjax({
            url: '/fytadmin/default',
            container: '#container',
            fragment: '#container'
        });
        $(document).pjax('a', '#container',
            {
                fragment: "#container",
                cache: false,
                show: 'fade'
            }
        );
        $(".load8").fadeOut(200);
        $(document).on('pjax:start', function () { NProgress.start(); $(".load8").show(); });
        $(document).on('pjax:end', function () { NProgress.done(); $(".load8").fadeOut(200); });
    });
</script>
