@using FytSoa.Common
@using FytSoa.Core.Model.Cms
@using FytSoa.Service.Interfaces
@inject IBbs_QuestionsService _questionService
@{
    var m = _questionService.GetRgithData().Result.data;
}
<div class="col-md-2 disable-mobile right-sidebar">
    <ul>
        <li class="widget widget-statistic">
            <ul>
                <li class="questions-count">
                    <p>话题总数</p>
                    <p>
                        <span>@m.QuestionCount</span>
                    </p>
                </li>
                <li class="members-count">
                    <p>会员</p>
                    <p>
                        <span>@m.UserCount</span>
                    </p>
                </li>
            </ul>
        </li>
        <!-- END widget-statistic -->
        <li class="widget widget-related-tags">
            <h3>最常用标签</h3>
            <ul>
                @{
                    if (m.TagList!=null)
                    {
                        foreach (var item in m.TagList)
                        {
                            <li>
                                <a class="q-tag" href="/bbs/?key=@item.EnTagName">@item.TagName</a> x @item.TagCount
                            </li>
                        }
                    }
                }
            </ul>
            <a href="/bbs/tags">更多标签</a>
        </li>
        <!-- END widget-related-tags -->
        <li class="widget widget-hot-questions">
            <h3>热门话题</h3>
            <ul>
                @{
                    if (m.RedQuestionList!=null)
                    {
                        foreach (var item in m.RedQuestionList)
                        {
                            <li>
                                <a href="/bbs/question/@item.EnTitle" title="@item.Title">
                                    <span class="topic-avatar">
                                        <img itemprop="image" src="@item.HeadPic" class="avatar" alt="">
                                    </span>
                                    <span class="topic-title">@item.Title</span>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </li>
        <!-- END widget-related-tags -->
        <li class="widget user-widget">
            <h3 class="widgettitle">推荐专家</h3>
            <div class="hot-user-question">
                @{
                    if (m.ExpertList!=null)
                    {
                        foreach (var item in m.ExpertList)
                        {
                            <div class="media media-number">
                                <div class="media-left">
                                    <img class="media-object img-circle img-small" style="width: 45px; height: 45px;" alt="@item.NickName" src="@item.HeadPic">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading"><a class="link-dark" href="/bbs/user/@item.Guid" title="@item.NickName">@item.NickName</a></div>
                                    <div class="text-muted">@(item.AnswerCount)个答案 @(item.AdoptCount)次被采纳</div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </li>
    </ul>
</div>