@page
@model FytSoa.Web.Pages.FytAdmin.Shop.ActivityModifyModel
@{
    ViewData["Title"] = "活动管理";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<style>
    .layui-form-item .layui-input-inline {
        width: 280px;
    }

    .layui-textarea {
        width: 97%;
        min-height: 60px;
    }
    .full-wall{margin:8px 0;}
    .full-wall .layui-input{width:200px; display:inline-block;}
    .full-wall .layui-form-label{float:none; display:inline-block; width:auto;}
    .full-wall .layui-form-label:first-child{width:80px;}
</style>
<form class="layui-form form-cus" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">活动类型</label>
            <div class="layui-input-inline">
                <input type="radio" name="Method" value="1" title="打折" @(Model.activityModel.Method == 1 ? "checked" : "")>
                <input type="radio" name="Method" value="2" title="满减" @(Model.activityModel.Method == 2 ? "checked" : "")>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">折扣数</label>
            <div class="layui-input-inline">
                <input type="number" name="CountNum" value="@Model.activityModel.CountNum" placeholder="如果折扣是8折，请输入80数字" maxlength="10" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-hide" id="full">
        <div class="full-wall">
            <label class="layui-form-label">满</label>
            <input type="number" name="fullbegin[]" value="" maxlength="10" autocomplete="off" class="layui-input">
            <label class="layui-form-label">元减</label>
            <input type="number" name="fullend[]" value="" maxlength="10" autocomplete="off" class="layui-input">
            <label class="layui-form-label">元</label>
        </div>
        <div class="full-wall">
            <label class="layui-form-label">满</label>
            <input type="number" name="fullbegin[]" value="" maxlength="10" autocomplete="off" class="layui-input">
            <label class="layui-form-label">元减</label>
            <input type="number" name="fullend[]" value="" maxlength="10" autocomplete="off" class="layui-input">
            <label class="layui-form-label">元</label>
        </div>
        <div class="full-wall">
            <label class="layui-form-label">满</label>
            <input type="number" name="fullbegin[]" value="" maxlength="10" autocomplete="off" class="layui-input">
            <label class="layui-form-label">元减</label>
            <input type="number" name="fullend[]" value="" maxlength="10" autocomplete="off" class="layui-input">
            <label class="layui-form-label">元</label>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="BeginDate" id="btime" value="@Model.activityModel.BeginDate.ToString().Replace("/","-")" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="EndDate" id="etime" value="@Model.activityModel.EndDate.ToString().Replace("/","-")" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Guid" id="Guid" value="@Model.activityModel.Guid" />
    <input type="hidden" name="ShopGuid" value="@Model.activityModel.ShopGuid" />
    <input type="hidden" name="AddDate" value="@Model.activityModel.AddDate" />
</form>
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'laydate', 'common', 'form'], function () {
            var form = layui.form
                , $ = layui.$
                , os = layui.common
                , layer = layui.layer
                , laydate = layui.laydate;
            var index = parent.layer.getFrameIndex(window.name);
            laydate.render({
                elem: '#btime'
                , theme: '#393D49'
                , format: 'yyyy-MM-dd HH:mm:ss'
                , type: 'datetime'
            });
            laydate.render({
                elem: '#etime'
                , theme: '#393D49'
                , format: 'yyyy-MM-dd HH:mm:ss'
                , type: 'datetime'
            });
            form.on('radio', function (data) {
                console.log(data.value);
                if (data.value === '1') {
                    $("#full").addClass('layui-hide');
                } else {
                    $("#full").removeClass('layui-hide');
                }
            }); 
            //监听提交
            form.on('submit(submit)', function (data) {
                var urls = "api/shops/addact";
                if ($("#Guid").val()) {
                    urls = "api/shops/editact";
                }
                //console.log(JSON.stringify(data.field)); return false;
                if (data.field.Method == 2) {
                    data.field.CountNum = 0;
                }
                os.ajax(urls, data.field, function (res) {
                    if (res.statusCode == 200) {
                        parent.layer.close(index);
                    }
                    else {
                        os.error(res.message);
                    }
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });
        });
    </script>
}

