@page
@model FytSoa.Web.Pages.FytAdmin.Shop.ShopModifyModel
@{
    ViewData["Title"] = "店铺管理";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<style>
    .layui-form-item .layui-input-inline{width:280px;}
    .layui-textarea{width:97%; min-height:60px;}
</style>
<form class="layui-form form-cus" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">登录账号</label>
            <div class="layui-input-inline">
                <input type="text" name="LoginName" value="@Model.shopModel.LoginName" maxlength="20" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-inline">
                <input type="password" name="LoginPwd" value="@Model.shopModel.LoginPwd" maxlength="20" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">店铺名称</label>
            <div class="layui-input-inline">
                <input type="text" name="ShopName" value="@Model.shopModel.ShopName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">座机号码</label>
            <div class="layui-input-inline">
                <input type="email" name="Tel" value="@Model.shopModel.Tel" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">店铺所在地</label>
            <div class="layui-input-inline">
                <input type="text" name="ShopCity" value="@Model.shopModel.ShopCity" data-toggle="city-picker" autocomplete="off" class="layui-input city-picker-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-inline">
                <input type="email" name="ShopAddress" value="@Model.shopModel.ShopAddress" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">负责人姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="AdminName" value="@Model.shopModel.AdminName" maxlength="10" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                <input type="text" name="Mobile" value="@Model.shopModel.Mobile" maxlength="20" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="Sex" value="男" title="男" @(Model.shopModel.Sex == "男" ? "checked" : "")>
                <input type="radio" name="Sex" value="女" title="女" @(Model.shopModel.Sex == "女" ? "checked" : "")>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="radio" name="Status" value="0" title="营业" @(Model.shopModel.Status == 0 ? "checked" : "")>
                <input type="radio" name="Status" value="1" title="冻结" @(Model.shopModel.Status == 1 ? "checked" : "")>
                <input type="radio" name="Status" value="2" title="停业" @(Model.shopModel.Status == 2 ? "checked" : "")>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="Summary" class="layui-textarea">@Model.shopModel.Summary</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Guid" id="Guid" value="@Model.shopModel.Guid" />
    <input type="hidden" name="LastLoginDate" value="@Model.shopModel.LastLoginDate" />
    <input type="hidden" name="LoginCount" value="@Model.shopModel.LoginCount" />
    <input type="hidden" name="UpLoginDate" value="@Model.shopModel.UpLoginDate" />
</form>
<link rel="stylesheet" href="~/themes/css/city-picker.css" type="text/css">
@section Scripts{
    <script>
        layui.define(['layer','city-picker'], function (exports) {
            "use strict";
            exports('citys', null);
        });
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form'], function () {
            var form = layui.form, $ = layui.$, os = layui.common;
            var index = parent.layer.getFrameIndex(window.name);
            //监听提交
            form.on('submit(submit)', function (data) {
                var urls = "api/shops/add";
                if ($("#Guid").val()) {
                    urls = "api/shops/edit";
                }
                os.ajax(urls, data.field, function (res) {
                    if (res.statusCode == 200) {
                        parent.layer.close(index);
                    }
                    else {
                        os.error(res.message);
                    }
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });
        });
    </script>
}

